.section-create-account {
  background: linear-gradient(
    110.23deg,
    rgba(255, 255, 255, 0.5) -48.01%,
    rgba(131, 221, 255, 0.5) 371.76%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.create-account-container {
  width: 867px;
  box-shadow: 0px 4px 24px 0px #095f902e;
  background: #ffffff;
  border-radius: 24px;
  padding: 2% 4%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0px;
}

.create-account-container h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  text-transform: capitalize;

  color: #1a457b;
}

.formulary {
  display: flex;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.formulary-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 250px;
  /* max-width: 370px;
  width: 100%; */

  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 35px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1a457b;
}

.formulary-right {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 250px;
  /* max-width: 370px;
  width: 100%; */

  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 35px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1a457b;
}

.formulary-left input {
  width: 100%;
  border: 1px solid black;
  height: 52px;

  box-sizing: border-box;

  background: linear-gradient(293.42deg, #fdfeff 10.12%, #ffffff 93.81%);
  border: 1px solid rgba(16, 36, 71, 0.14);
  border-radius: 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);

  font-family: "Cairo Variable", sans-serif;

  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6f6c90;
  padding: 0px 20px;
}

.formulary-right input {
  width: 100%;
  border: 1px solid black;
  height: 52px;

  box-sizing: border-box;

  background: linear-gradient(293.42deg, #fdfeff 10.12%, #ffffff 93.81%);
  border: 1px solid rgba(16, 36, 71, 0.14);
  border-radius: 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);

  font-family: "Cairo Variable", sans-serif;

  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6f6c90;
  padding: 0px 20px;
}

.create-account-btn {
  width: 266px;
  height: 52px;
  color: #1a457b;

  background: #39c0c0;
  border-radius: 50px;
}

.sign-in-btn {
  width: 266px;
  height: 52px;
  background-color: #fff;

  border: 2px solid #1a457b;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 9px;
  letter-spacing: 0.02em;
  color: #1a457b;
}

