.fav-card {
  height: 274px;
  width: 250px;

  background: #FFFFFF;
  border-radius: 16px;

}

.fav-card-image {
  background-image: url('./CourseImage(2).jpg');
  background-repeat: no-repeat;
  height: 50%;

  border-radius: 16px 16px 0 0;

  display: flex;
  align-items: end;


}

.fav-card-image-square {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 88px;
  height: 30px;
  color: white;
  background: #13A3D9;


  font-weight: 700;
  font-size: 10px;
  line-height: 19px;





}

.fav-card-description {
  text-align: end;
  padding: 20px 20px 0px 20px;
}

.fav-card-description h1 {
  margin: 0;
  font-weight: 900;
  font-size: 13px;
  line-height: 20px;

  color: #0B325C;

}

.fav-card-description p {
  margin: 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  text-align: right;

  color: #0B325C;


}
.fav-card-description a {


  font-weight: 700;
  font-size: 8px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.15px;
  text-decoration: none;

  color: rgba(57, 192, 192, 0.62);


}