footer {
  background: #012a56;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-subscribe h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  margin-bottom: 0;

  color: #fefefe;
}

.footer-subscribe p {
  margin-top: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: right;
  text-transform: capitalize;

  color: #fefefe;
}

.info-email {
  width: auto;
  height: 47.3px;
}

.info-email input {
  height: 100%;
  border: none;
  border-radius: 23.625px 0px 0px 23.625px;
  box-sizing: border-box;

  font-family: "Cairo Variable", sans-serif;
  padding: 0px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: right;
  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.info-email button {
  height: 100%;
  border: none;

  background: #39c0c0;
  border-radius: 0px 23.625px 23.625px 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;
  box-sizing: border-box;

  color: #fefefe;

  padding: 0px 20px;
}

.footer-tel {
  display: flex;
  gap: 30px;
}

.footer-email {
  display: flex;
  gap: 40px;
}

.certificate-courses {
  color: white;
  text-align: end;
}

.certificate-courses ul {
  list-style: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;

  color: #fefefe;
}

.quick-links {
  color: white;
  text-align: end;
}

.quick-links ul {
  list-style: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;

  color: #fefefe;
}

.logo-header-footer-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header-footer-1 img {
  height: 80px;
}

.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

hr {
  width: 95%;
  color: rgba(254, 254, 254, 0.7);

  margin-left: 0;
  margin-right: 0;
}

.final-info-footer {
  display: flex;
  flex-wrap: wrap;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  color: rgba(255, 255, 255, 0.7);
  justify-content: space-between;
  width: 93%;
  margin: 0px 250px;
  /* border: 1px solid black; */
}

.payments {
  display: none;
}

.logo-header-footer {
  display: none;
}

/* Esto es para el minimo de la pantalla  es decir, cuando este en mobile*/

@media (max-width: 400px) {
  .final-info-footer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 82%;
    text-align: center;
    margin: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  hr {
    width: 95%;
  }

  .info-email {
    display: none;
  }

  .payments {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .footer-info {
    gap: 20px;
  }

  .logo-header-footer {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-header-footer img {
    height: 80px;
  }

  .logo-header-footer-1 {
    display: none;
  }
}

/* Esto es para el maximo del la pantalla */

@media (width >= 1120px) {
  .final-info-footer {
    width: 68%;
  }

  hr {
    width: 70%;
  }
}
